
<body>  <div class="jumbotron" id="jumbo">
    
  </div>
  

 <div class="container">
      <div class="col-md-5">
        <a href="/">
          <button type="button" class="btn btn-outline-info btn-lg btn-block" id="home">Home</button>
        </a>
      </div>
      </div>
   

<div class="container col-md-10">
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col" id="title">Title</th>
        <th scope="col" id="link">Link</th>
        <th scope="col" id="comments">Comments</th>
        <th scope="col" id="save">Save</th>
      </tr>
    </thead>
    <tbody id="results">
    </tbody>
  </table>
  <script src="/js/favorites.js"></script>
  </div>
</body>
