<body class="container">
    <h3 class="header">Stack Overflow</h3>
    
    <table>
      <thead>
        <tr>
          <th id="animal-name">Title</th>
          <th id="animal-legs">Link</th>
        </tr>
      </thead>
      <tbody id="results">
        <!-- Results from DB here -->
      </tbody>
    </table>
    <script src="/js/app.js"></script>
  </body>