.jumbotron{
    background-image: url("/css/stack.png");
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    
}
a:hover{
    text-decoration: none;
}